{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">

            <div class="row">
                <div class="col s12">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">settings_ethernet</i>Allergens List</div>
                            {% for row in allergens_list_data %}
                            <div class="collapsible-body"><span>{{ row.allergens_list_name }} </span>
                                <a href="{{ url_for('delete_allergens_list', allergens_list_ID = row.allergens_list_ID) }}" class="secondary-content"><i class = "material-icons icon-color">delete</i></a>
                            </div>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="input-field input-style col s12">
                    <form action="{{ url_for('update_allergens_list') }}" method="POST">
                        <input value="" id="allergens_list_name" name="allergens_list_name" type="text" class="validate">
                        <label class="active" for="allergens_list_name">Add New Allergen Here</label>
                        <input type="submit" value="Add New Allergen" class="btn">
                    </form>
                </div>
            </div>

            <div class="col s12">
                <div class="row sub-footer">
                    <a href="{{url_for('index')}}" class="btn">Back to Recieps</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
