{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">

            <div class="row">
                <ul class="collection with-header">
                    <li class="collection-header collection-header-sub">
                        <h5> {{ course_data[0].recipe_name }} </h5>
                    </li>
                    {% for row in course_data %}
                    <li class="collection-item collection-item-sub">
                        <div> {{row.course_name}} 
                        {% if loop.index > 1 %}
                        <a href="{{ url_for('delete_course_from_recipe', recipe_ID = row.recipe_ID, course_ID = row.course_ID) }}" class="secondary-content"><i class = "material-icons">delete</i></a></div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col s5">
                <div class="row">

                    <form action="{{ url_for('add_course_to_recipe', recipe_ID = course_data[0].recipe_ID, course_ID = course_data[0].course_ID) }}" method="POST">

                        <select id = "selection" name = "selection">
                            <option value = "" disabled selected>Select New Course</option> 
                            {% for row in course_list_data %}
                                <option value = "{{row.course_list_name}}" id="course_name" name="course_name">{{row.course_list_name}}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" value="Add New Course" class="btn">

                </div>
            </div>

            <div class="col s12">
                <div class="row sub-footer">
                    <a href="{{url_for('recieps', recipe_ID = course_data[0].recipe_ID) }}" class="btn">Back To Recipe</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
