{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">

            <div class="row">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4> {{ cuisine_data[0].recipe_name }} </h4>
                    </li>
                    {% for row in cuisine_data %}
                    <li class="collection-item">
                        <div> {{row.cuisine_name}} <a href="{{ url_for('delete_cuisine_from_recipe', recipe_ID = row.recipe_ID, cuisine_ID = row.cuisine_ID) }}" class="secondary-content"><i class = "material-icons">delete</i></a></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col s5">
                <div class="row">

                    <form action="{{ url_for('add_cuisine_to_recipe', recipe_ID = cuisine_data[0].recipe_ID, cuisine_ID = cuisine_data[0].cuisine_ID) }}" method="POST">

                        <select id="selection" name="selection">
                            <option value = "" disabled selected>Select New Cuisine</option> 
                            {% for row in cuisine_list_data %}
                                <option value = "{{row.cuisine_list_name}}" id="cuisine_name" name="cuisine_name">{{row.cuisine_list_name}}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" value="Add New Cuisine" class="btn">

                </div>
            </div>



            <div class="col s12">
                <div class="row">
                    <a href="{{url_for('recipes', recipe_ID = cuisine_data[0].recipe_ID) }}" class="btn">Back To Recipe</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
