{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">

            {% for row in directions_data%}

            <div class="row">
                <div class="collection-header">
                    <h5>{{ row.recipe_name }}</h5>
                </div>
                <div class="input-field col s10">
                    <textarea rows="40" cols="50" id="direction_name" name="direction_name" class="validate"> 
                    {{ row.direction_name }}
                    </textarea>
                    <label class="active" for="first_name2">Direction</label>
                </div>
            </div>

            <a href="#" class="btn">Save</a>
            <a href="{{url_for('recipes', recipe_ID = row.recipe_ID)}}" class="btn">Back</a> 
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
